.container {
	height: 500px;
	width: 500px;
	background-color: blue;
	text: center;
margin: 0 auto;
color: white;
font-size: xx-large;
border-radius: 50px;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
margin-top: 30vh;
box-shadow: 3px 9px 15px black;
transition: 1s;
}

.container:hover {
	border-radius: 50%;
	background-color: yellow;
	color: black
}

